@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #44A1A0;
  --secondary-color: #78CDD7;
  --light-varient: #FFFFFA;
  --light-color: #0D5C63;

  background-color: var(--light-color)


}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
